<nav>
    <div class="nav-wrapper green darken-1">
        <a href="#" class="brand-logo">Brawndo<i class="material-icons">local_florist</i></a>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Indoor</a></li>
            <li><a href="#">Outdoor</a></li>
            <li><a href="#">Edible</a></li>
            <li><a href="#">Inedible</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <h3 class="center">{{gardenName}}</h3>

    {{!-- for each loops here using garden info from table leaving this info for Chis--}}
    <ul>
        <li>{{name}}</li>
        <li>{{icon}}</li>

    </ul>

    {{!-- drop down --}}

    <ul>
        <li>{{needWater}}</li>
        <li>{{watered}}</li>
        <li>{{plantedDate}}</li>

    </ul>


    <footer class="green darken-1">
        <p class="white-text"> © 2021 Copyright <a href="https://github.com/lukeoxner">Luke Oxner, </a><a
                href="https://github.com/trevvels">Christopher Watkins, </a><a
                href="https://github.com/domihorinka">Dominique
                Horinka, </a><a href="https://github.com/wtekverk">WendyTekverk </a></p>
    </footer>