<h1>Brawndo</h1>

{{!-- for each loops here using garden info from table --}}
<ul>
    <li>{{name}}</li>
    <li>{{icon}}</li>

</ul>

{{!-- drop down --}}

<ul>
    <li>{{needWater}}</li>
    <li>{{watered}}</li>
    <li>{{plantedDate}}</li>

</ul>

<footer>
    <p>Copyright (c) 2021 <a href="https://github.com/lukeoxner">Luke Oxner, </a><a
            href="https://github.com/trevvels">Christopher Watkins, </a><a
            href="https://github.com/domihorinka">Dominique
            Horinka, </a><a href="https://github.com/wtekverk">WendyTekverk </a></p>
</footer>